{
  "presets": ["env"],
  "plugins": [
    ["transform-react-jsx", {
      "pragma": "xml"
    }],
    ["babel-plugin-jsx-pragmatic", {
      "module": "@xmpp/xml",
      "import": "xml"
    }]
  ]
}
