plugins:
  - unicorn

extends:
  - eslint:recommended
  - standard
  - plugin:unicorn/recommended

parserOptions:
  sourceType: script

rules:
  strict:
    - error
    - global
  comma-dangle:
    - error
    - always-multiline
  # ES2015 http://eslint.org/docs/rules/#ecmascript-6
  no-var: error
  prefer-const: error
  # unicorn https://github.com/sindresorhus/eslint-plugin-unicorn
  unicorn/filename-case: 0
