.vscode/
node_modules/
**/dist/*
server/localhost/
server/prosody.err
server/prosody.log
server/prosody.pid
server/prosody-modules/

!.gitkeep
!.editorconfig
!.gitignore
!.travis.yml

npm-debug.log
lerna-debug.log
yarn-error.log
