html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  /*background-color: '#fdf6e3';*/
}

#input, #output {
  width: 100%;
}

#input {
  height: 300px;
  display: flex;
}

#input textarea {
  width: 100%;
  background-color: #fdf6e3;
}

a.token.email-link {
  color: inherit;
}

#output {
  flex: 1;
  /*background-color: #fdf6e3;*/
  flex-direction: column;
  overflow: auto;
}

.log-entry {
  padding-top: 10px;
  padding-bottom: 10px;
}

.log-entry pre {
  background-color: inherit;
  overflow: visible;
}

.log-entry pre.code-toolbar > .toolbar {
  top: -32px;
  left: 70px;
  opacity: 1;
}

.log-entry pre.code-toolbar > .toolbar > .toolbar-item {
  cursor: pointer;
}

.CodeMirror {
  width: 100%;
  height: 300px;
  font-size: 16px;
}
