name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # Do not support --experimental-require-module
        # Commented until we have a solution to run tests without it
        # node-version: [14, 16, 18, 20, 22]
        node: [20, 22]
    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: "npm"

      - name: Install prosody
        run: |
          echo deb http://packages.prosody.im/debian $(lsb_release -sc) main | sudo tee /etc/apt/sources.list.d/prosody.list
          sudo wget https://prosody.im/files/prosody-debian-packages.key -O/etc/apt/trusted.gpg.d/prosody.gpg
          sudo apt-get update
          sudo apt-get -y install prosody lua-bitop lua-sec
          sudo service prosody stop

      # - run: npm install -g npm
      - run: make
      - run: make ci

      - name: The job has failed
        if: ${{ failure() }}
        run: cat server/prosody.err
