name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node: [22, 23, 24, 25, 26]
    steps:
      - uses: actions/checkout@v5

      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
          cache: "npm"

      - name: Install prosody
        run: |
          sudo wget https://prosody.im/downloads/repos/$(lsb_release -sc)/prosody.sources -O/etc/apt/sources.list.d/prosody.sources
          sudo apt update -y
          sudo apt install -y lua5.3 liblua5.3-dev prosody lua-bitop lua-sec luarocks
          sudo systemctl stop prosody

      - run: make
      - run: make ci

      - name: The job has failed
        if: ${{ failure() }}
        run: cat server/prosody.err
